@use './../../Style/variables' as v;
@use './../../Style/mixins' as *;

.cta {
  padding: 180px 0;

  background: linear-gradient(180deg,
      v.$dark-bg 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      v.$dark-bg 90.1%),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url('./../../Img/Bg/Cta.jpg'), #c4c4c4;

  @include mediaTablet {
    padding: 60px 0;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.title-3 {
  font-size: 36px;
  font-family: v.$font-accent;
  color: v.$accent;
  font-weight: 700;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include mediaTablet {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 24px;

  p+p {
    margin-top: 1em;
  }

  @include mediaTablet {
    font-size: 14px;
  }

}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;

  @include mediaTablet {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: v.$color-text;
  font-size: 14px;
  transition: background-color 0.2s ease-in;

  &::placeholder {
    color: #bebebe;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.form__privacy {
  font-size: 13px;
  color: #e7e7e7;
  text-align: center;
  line-height: 16px;

  &--mobile {
    grid-row: 4/5;
  }
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: v.$color-text;
  font-weight: 700;
  text-align: center;
  background-color: v.$accent;

  &:hover {
    background-color: saturate(v.$accent, 10);
  }
}