$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", sans-serif;
$font-secondary: "Roboto", sans-serif;

$dark-bg: #242B33;
$accent: #D4C17F;
$color-text: #fff;
$footer-bg: #2D343C;

$tablet: 959px;